# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [1]:
import pandas as pd

## imports for Python, Pandas

In [2]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [11]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [12]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [13]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population info.governor    state shortname
0        Dade       12345    Rick Scott  Florida        FL
1     Broward       40000    Rick Scott  Florida        FL
2  Palm Beach       60000    Rick Scott  Florida        FL
3      Summit        1234   John Kasich     Ohio        OH
4    Cuyahoga        1337   John Kasich     Ohio        OH

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [ ]:
# load json as string
json.load((open('data/world_bank_projects_less.json')))

In [ ]:
json_normalize(data, 'mjtheme')

In [ ]:
# load as Pandas dataframe
sample_json_df = pd.read_json('data/world_bank_projects_less.json')
sample_json_df

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice
that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [43]:
world = pd.read_json('./Data/world_bank_projects.json')

In [44]:
from collections import Counter

In [113]:
# Create an empty Counter object: year_count
proj_count = Counter()

# Loop over the crimes_by_district using expansion as district and crimes
for row, dictt  in world.iterrows():
    
    # loop over nested dict
    for i in dictt["mjtheme_namecode"]: 
        proj_count[i['name']] += 1

print(proj_count)

Counter({u'Environment and natural resources management': 223, u'Rural development': 202, u'Human development': 197, u'Public sector governance': 184, u'Social protection and risk management': 158, u'Financial and private sector development': 130, u'': 122, u'Social dev/gender/inclusion': 119, u'Trade and integration': 72, u'Urban development': 47, u'Economic management': 33, u'Rule of law': 12})

In [134]:
pcode[11]

u'Environment and natural resources management'

In [135]:

# generate dictionary containing true code,name pairs
pcode = {}
for row, proj in world.iterrows():
    
    for i in proj["mjtheme_namecode"]:
        if i['name'] == '':
            continue
        pcode[int(i['code'])] = i['name']
        
# replace missing values with true names
for row, proj in world.iterrows():
    
    for i in proj["mjtheme_namecode"]:
        
        if i['name'] == '':
            i['name'] = pcode[int(i['code'])]